generated-workflows/workflow-masivo-gemini-1757141804762.json
{
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "name": "Telegram Chatbot Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        0,
        100
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "telegramApi Credentials"
        }
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-2345-67890abcdef0",
      "name": "Parse Chat Message",
      "type": "n8n-nodes-base.code",
      "position": [
        -140,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return items;",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "c3d4e5f6-a7b8-9012-3456-7890abcdef01",
      "name": "Schedule Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        140,
        300
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1,
      "credentials": {
        "googleCalendarApi": {
          "id": "googleCalendarApi",
          "name": "googleCalendarApi Credentials"
        }
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-4567-890abcdef012",
      "name": "Notify Team via Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        -140,
        500
      ],
      "parameters": {
        "to": "={{ $json.email }}",
        "subject": "Notification from n8n",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "e5f6a7b8-c9d0-1234-5678-90abcdef0123",
      "name": "Confirm to Client via Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        140,
        500
      ],
      "parameters": {
        "operation": "sendMessage",
        "resource": "message",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "telegramApi",
          "name": "telegramApi Credentials"
        }
      }
    }
  ],
  "connections": {
    "Telegram Chatbot Trigger": {
      "main": [
        [
          {
            "node": "Parse Chat Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chat Message": {
      "main": [
        [
          {
            "node": "Schedule Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Google Calendar": {
      "main": [
        [
          {
            "node": "Notify Team via Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team via Email": {
      "main": [
        [
          {
            "node": "Confirm to Client via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}