generated-workflows/workflow-masivo-gemini-1757141084887.json
{
  "nodes": [
    {
      "id": "telegramTrigger",
      "name": "Telegram Chatbot Trigger",
      "type": "n8n-nodes-base.cron",
      "position": [
        -140,
        100
      ],
      "parameters": {
        "authentication": "telegramApi",
        "allowedUpdates": [
          "message"
        ],
        "options": {},
        "cronExpression": "0 */6 * * *"
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_API_CREDENTIAL_ID",
          "name": "Telegram Account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "extractData",
      "name": "Extract Chat Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -140,
        300
      ],
      "parameters": {
        "values": [
          {
            "name": "chatId",
            "value": "={{ $json.message.chat.id }}"
          },
          {
            "name": "userName",
            "value": "={{ $json.message.from.first_name + ' ' + ($json.message.from.last_name || '') }}"
          },
          {
            "name": "messageText",
            "value": "={{ $json.message.text }}"
          }
        ],
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "googleCalendarEvent",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.cron",
      "position": [
        140,
        100
      ],
      "parameters": {
        "operation": "create",
        "calendarId": "primary",
        "summary": "Conversación Chatbot con {{ $json.userName }}",
        "description": "Mensaje del cliente: {{ $json.messageText }}",
        "startDateTime": "={{ new Date().toISOString() }}",
        "endDateTime": "={{ new Date(new Date().getTime() + 30 * 60 * 1000).toISOString() }}",
        "options": {},
        "cronExpression": "0 */6 * * *"
      },
      "credentials": {
        "googleCalendarApi": {
          "id": "YOUR_GOOGLE_CALENDAR_API_CREDENTIAL_ID",
          "name": "Google Calendar Account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "sendEmailNotification",
      "name": "Send Email to Team",
      "type": "n8n-nodes-base.gmail",
      "position": [
        140,
        300
      ],
      "parameters": {
        "operation": "send",
        "to": "equipo.servicio@tuempresa.com",
        "subject": "Nueva Interacción de Chatbot con {{ $json.userName }}",
        "body": "Hola equipo,  Se ha registrado una nueva interacción a través del chatbot de Telegram.  **Cliente:** {{ $json.userName }} **Mensaje:** {{ $json.messageText }}  Se ha creado un evento en el calendario para seguimiento.  Saludos, Tu Chatbot n8n",
        "options": {},
        "message": "={{ $json.message }}"
      },
      "credentials": {
        "gmailApi": {
          "id": "YOUR_GMAIL_API_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "sendTelegramConfirmation",
      "name": "Send Telegram Confirmation",
      "type": "n8n-nodes-base.telegram",
      "position": [
        0,
        500
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "¡Hola {{ $json.userName }}! Tus datos se han enviado correctamente y se ha agendado tu conversación en nuestro calendario. Pronto nos pondremos en contacto contigo para dar seguimiento a tu solicitud. ¡Gracias por usar nuestro servicio!",
        "options": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_API_CREDENTIAL_ID",
          "name": "Telegram Account"
        }
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Telegram Chatbot Trigger": {
      "main": [
        [
          {
            "node": "Extract Chat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Send Email to Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Telegram Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Chat Data": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "workflowName": "Chatbot Telegram a Google Calendar y Email"
  }
}